<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainingstagebuch | Home </title>
    <link rel="manifest" href = "manifest.json">
    <link href = "/static/styles/stylesheet.css" rel = "stylesheet" type = "text/css">

   
</head>
<body class = "background-dark">
    <div class = "background-grey">
        <a href = "/" ><img src="/static/Bilder\bizeps.png.png" height="100px" width="100px" ></a>
         <img  class = "imgright" src="/static/Bilder\logo2.png"  width = "120px">
         <p class = "center text2">Get Fit or Stay Lauch!</p>
         
     </div>
   
   
    <div class= "center margin-top text2">
        <h1> Trainingstagebuch</h1>
    </div>
    <div class = "center margin-top text2">    <p>Was trainierst du heute?</p>
    </div>
   
    <div class = "center margin-top margin-bottom margin-left margin-right">
        
       <p>
        <a href = "push"><img class= "imgleft" src="/static/Bilder\push.png"  height = "50px" width = "110px"></a>
        <a href = "pull"><img class= "imgright" src="/static/Bilder\pull.png" height = "50px" widht = "50px"></a></p> 
        <p>
        <a href = "ganzkörper"><img class ="imgright" src = "/static/Bilder\ganzkörper.png" height = "50px" width = "110px"></a>
        <a href = "beine"><img class = "imgleft" src= "/static/Bilder\beine.png" height = "50px" width = "110px"></a>

        </p>
    </div>
<!--<div class = "center margin-top text2" id = "zeit">
        00:00:00
    </div>

   
   
   <div class = "center margin-top background-purple"> 
        
        <img onclick="startTime()" src="Bilder\start-button.png" height="100px" width="100px" ></div>
    -->
</body>
</html>