<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainingstagebuch| neue Übung</title>
    <link href = "/static/styles/stylesheet.css" rel = "stylesheet" type = "text/css">
</head>
<body class = "background-dark">
    <div class = "background-grey">
        <a href = "/" ><img src="/static/Bilder\bizeps.png.png" height="100px" width="100px" ></a>
         <img  class = "imgright" src="/static/Bilder\logo2.png"  width = "120px">
         <p class = "center text2">Get Fit or Stay Lauch!</p>
         
     </div>
   
   
    <div class= "center margin-top text2">
        <h1> Trainingstagebuch</h1>
    </div>
   

    <div class = "center margin-top textlila">
        <p stlye>
            Gib hier deine neue Übung ein:
        </p>
    </div>
    <div class = "center margin-top text2">
        <form action = 'uebunganlegen', method = 'get'>
            <label for = "gruppe">Trainingsart: </label>
            <select class = 'purple' type="text"  name = 'art' required >
                <option value = "push"> Push </option>
                <option value = "pull"> Pull </option>
                <option value = "beine"> Beine/Core </option>
                </select> <br/>
            <label for = "uebung">Übung : </label>
            <input class = 'purple' type="text" name = 'übung' required> <br/>
            <label for = "saetze">Gewicht: </label>
            <input class = 'purple' type="text" name = 'gewicht' required value="0"> <br/>
            <em>Falls du kein Gewicht für die Übung brauchst gib 0 ein!</em>
            <button>Erstellen</button>
        </form>
    </div>
</body>
</html>