<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainingsplan </title>
    <link href = "/static/styles/stylesheet.css" rel = "stylesheet" type = "text/css">

    
    <script>
         // Erstellen der Liste als Liste von Dic 

        let liste = [];
        let neueListe = [];
        

        // getListe

        function getListe(){
            
            liste.forEach((übung)=>{
                let wiederholungen = document.getElementById(übung).value;
                let wdhListe = [];
                wdhListe.push(wiederholungen);
                neueListe.push(übung, wdhListe);

            });
            // test.innerHTML = neueListe;
            return neueListe;
        }

        function listeErstellen(übung){
            enthalten = false;
                
                liste.forEach((dic)=>{
        
                    if (übung == dic){
                        enthalten = true;
                        // test.innerHTML = liste;                    
                        }
                    });

                    if (!enthalten){
                        liste.push(übung);
                        // test.innerHTML = liste;
                                                                       
                    } 

                }
        
        // Felder deaktieren/aktivieren

        function eingabeDeaktivieren(feld, id){
            
                var disabled = document.getElementById(feld).disabled;
                if (disabled) {
                    farbe = document.getElementById(id);
                    farbe.style.backgroundColor = 'green';
                    farbe.style.color = 'white';
                    
                    document.getElementById(id).innerHTML = 'Speichern';
                                        
                    document.getElementById(feld).disabled = false;
                    
                }
                else {
                    farbe = document.getElementById(id);
                    farbe.style.backgroundColor = 'black';
                    farbe.style.color = 'white';
                    
                    document.getElementById(id).innerHTML  = 'Ändern';
                    
                    document.getElementById(feld).disabled = true;

                    listeErstellen(feld);
                    

                }
            
        }
        

        // Stoppuhr


        var gestartet = false;
        var sec = 0;
        var min = 0;
        var hrs = 0;
        var t;
        function tick(){
            
                sec++;
                if (sec >= 60) {
                sec = 0;
                min++;
                if (min >= 60) {
                    min = 0;
                    hrs++;
                    }
                }
            
        }
        function timer(){
            t = setTimeout(add,1000);
        }
        function add(){
                
                tick();
                
                stoppuhr.textContent = (hrs > 9 ? hrs : "0" + hrs) 
        	 + ":" + (min > 9 ? min : "0" + min)
       		 + ":" + (sec > 9 ? sec : "0" + sec);
                timer();

                }
        function startStop(){
            
            if (!gestartet){

                button = document.getElementById('start')
                button.value = 'Stop';
                
                button.style.backgroundColor = 'red';
                button.style.color = 'white';

                gestartet = true;

                
                timer();

                
            } else{
                button = document.getElementById('start')
                button.value = 'Start';
                
                button.style.backgroundColor = 'green';
                button.style.color = 'white';

                gestartet = false;

                clearTimeout(t);
               

            }
        
       
            
        }
        function resetTimer(){
            
            stoppuhr.textContent = "00:00:00";
            sec = 0; min = 0; hrs = 0;
        }

        // Pausentimer
        
        var timerStarted = false;
        var runde = 0;
        var ende = false;

        function endPause(){
            ende = true;
        }                        

        function startPause(){
            
            if(!timerStarted){
                ende = false;
                timerStarted = true;
                let startTime = new Date().getTime();
                let faktor = parseInt(document.getElementById('pausenzeit').value)
                let minutes = 1000*60*faktor;
                let endTime = startTime+minutes;

                let intervall = setInterval(function(){
                    
                    if (ende){
                        var timeLeft = 0;
                    }else{
                        var timeLeft = endTime- new Date().getTime();
                    }
                    
                    if(timeLeft>0){
                        minutes = timeLeft/ (1000*60);
                        minutes = Math.floor(minutes);
                        var seconds = (timeLeft/1000)%60;
                        seconds = Math.round(seconds);
                        seconds = ('0' + seconds).slice(-2);
                        let text = '0' + minutes + ' : ' + seconds;
                        pause.innerHTML = text;      
                 

                       

                    }else{
                       
                                                         
                        timerStarted = false;
                        pause.innerHTML = '00 : 00';
                        clearInterval(intervall);                                         
  
                            
                } 
                
            }, 1000);

            } 
          
       }
    
  

        
    </script>
    
</head>
<body class = "background-dark">
    <div class = "background-grey">
        <a href = "/" ><img src="/static/Bilder\bizeps.png.png" height="100px" width="100px" ></a>
         <img  class = "imgright" src="/static/Bilder\logo2.png"  width = "120px">
         <p class = "center text2">Get Fit or Stay Lauch!</p>
         
     </div>
   
   
    <div class= "center margin-top text2">
        <h1> Trainingstagebuch</h1> 
    </div>
  
    <div class ="center margin-top text2">
        <input type = "button" id = 'start' value = "Start" style = "background-color: green; color: white;border-radius: 100px ;padding: 20px; height: 60px; text-align: center; margin-top: 5px" onclick = "startStop()">
        <button class = "text2" style = "background-color: black; color: white; text-align: center; border-radius: 100px; border-color: black; padding: 20px; font-size: x-large;" id ='stoppuhr'  disabled>  00:00:00 </button>
        <input type = "button" id = 'reset' style = "background-color: black; color: white;border-radius: 100px; padding: 20px; height: 60px; text-align: center; margin-top: 5px" value = "Reset" onclick = "resetTimer()">
        
    </div>
    <div class ="center margin-top text2">

        <select id = "pausenzeit" style = "background-color: purple; color: white; height: 38px;  text-align: center; border-radius: 10px; margin-top: 15px;">
            <option value = '1'>1 Min</option>
            <option value = '2'>2 Min</option>
            <option value = '3'>3 Min</option>
            <option value = '4'>4 Min</option>
        </select>
        <input type = "button" id = 'pausebutton' style = "background-color: purple; color: white;border-radius: 10px; height: 40px; width: 70px; text-align: center; margin-top: 15px;" value = "Pause" onclick = "startPause()">
        <button class = "text2" style = "background-color: black; color: white; text-align: center; border-radius: 100px; border-color: black; padding: 20px; font-size: x-large;" id ='pause'  disabled>  00 : 00 </button>
        <input type = "button" id = 'pausebutton' style = "background-color: black; color: white;border-radius: 100px; padding: 20px; height: 60px; text-align: center; margin-top:5px" value = "Beenden" onclick = "endPause()">
    </div>
    <div class = "center margin-top text2">

        <table style = "border-spacing: 25px;">
            <tr>
                <th><h2>Übung</h2></th>
                <th><h2>Gewicht</h2></th>
                <th><h2>Sätze/ Wdh.</h2></th>
            </tr>
            
            {% for q in training %}
            <tr>
                
                <td>{{q[0]}}</td>
                <td><input class = "text2" style = "border-radius : 5px; text-align: center; background-color: black; color: white;" type = "text" value = "{{q[2]}}" disabled> <br />
                    
                </td>
                <td><input style ="border-radius : 5px; text-align: center; color: white; background-color : black; height:15px; width:fit-content;"  name ="{{q[0]}}" id = "{{q[0]}}" type ="text" required> <br />
                    Rekord: {{q[1]}}
                
                </td>
                <td><button style = "border-radius: 10px; background-color: green; color : white; font-size: small;" id = '{{q}}' name = '{{q}}'  height = "30px" width = "70px" onclick="eingabeDeaktivieren('{{q[0]}}', id);">Speichern</button></td>
            </tr>

            
            {% endfor %}
            
        </table>
    </div>
    
    <div class = "center margin-top text2">
        <form action = 'analyse', method = 'post'>
        <button  name = 'liste' style = " border-radius: 20px; background-color: purple; font-size: xx-large; color:white" onclick="value = getListe() ; startStop(); return confirm('Training wirklich beenden?');">Training Beenden</button></form>
    </div>

    <!-- <div class = "center margin-top text2">
        <ol id = "test"></ol>
    </div> -->

    <form>
        <div class = "center margin-top text2">
        <p>
        
        <a href = "neuerTrainingsplan/methode"  style="color: purple">Ich habe eine neuen Trainingsplan</a></p>
       
        </div>
    </form>

  
</body>
</html>